/* src/assets/main.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background: linear-gradient(to bottom, #ffffff, #0959c9);
  min-height: 100vh;
}
