body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background: linear-gradient(to bottom, #ccd3d5, #ede8e8, #dfdfdf);
  min-height: 100vh;
}
